__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.venv/
venv/
build/
dist/
*.zip
.env

# Terraform
infra/.terraform/
infra/.build/
infra/.terraform.lock.hcl
infra/terraform.tfvars
*.tfstate
*.tfstate.*
*.tfplan
